<article class="widget-aside-second widget-html-widget widget">
    <p><img src="/images/minime.png" alt="Mira Javora" align="left" height="70" width="60"></p>
    <p>Software developer, social geek, dying breed, passionate about web and technology.</p>
    <p><a target="_self" title="About Mira" href="/about-me">About Mira</a></p>
</article>

<article class="widget-aside-second widget-twitter-widget widget">

</article>

<article class="widget-aside-second widget-follow-me-widget widget">

</article>