---
layout: default
---
<div class="container-fluid">
    {% if page.title %}
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header" id="page-title">
                <h1>{{ page.title }}</h1>

                {% if page.categories %}{% include post/categories.html %}{% endif %}
                <p class="tags">
                    <span>Tags:</span>
                    <a href="/Tags/WebAPI">WebAPI</a>, <a href="/Tags/C%23">C#</a>, <a href="/Tags/AspNet">AspNet</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row-fluid">
        <div class="span9">
            <div class="zone zone-content"><article class="content-item blog-post">
                {% if page.date %}
                    <header>
                        <div class="metadata">
                            <div class="published">{% include post/date.html %}{{ time }}</div>
                        </div>
                    </header>
                {% endif %}

                <article>
                    {{ content }}
                </article>
            </div>
        </div>
        <div class="span3">
            {% unless page.sidebar == false %}
            <aside class="sidebar">
                {% if site.page_asides.size %}
                {% include_array page_asides %}
                {% else %}
                {% include_array default_asides %}
                {% endif %}
            </aside>
            {% endunless %}
        </div>
    </div>
</div>