---
layout: default
---

{% if page.title %}
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header" id="page-title">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
{% endif %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <div class="zone zone-content"><article class="content-item blog-post">
                {% if page.date %}
                    <header>
                        <div class="metadata">
                            <div class="published">{% include post/date.html %}{{ time }}</div>
                        </div>
                    </header>
                {% endif %}

                <article>
                    {{ content }}
                </article>
            </div>
        </div>
        <div class="span3">
            {% unless page.sidebar == false %}
            <aside class="zone-aside-second">
                {% if site.page_asides.size %}
                {% include_array page_asides %}
                {% else %}
                {% include_array default_asides %}
                {% endif %}
            </aside>
            {% endunless %}
        </div>
    </div>
</div>