<div class="span4">
    <article class="widget-BlogText widget-footer widget-html-widget widget">
        <header>
            <h3>Mira Javora Blog</h3>

        </header>
        <p><span style="color: #777777; font-family: Georgia, 'Times New Roman', serif; font-style: italic; line-height: 18px;">Software developer, social geek, dying breed, passionate about web and technology. Working on Twibbon.com and other cool stuff for great clients !</span></p>
    </article>
</div>
<div class="span4">
    <article class="widget-Social-Widget widget-footer widget-html-widget widget">
        <header>
            <h3>Social</h3>

        </header>
        <p>Find me on twitter, linkedin, rss</p>
        <p><a href="http://feeds.feedburner.com/mirajavora" title="RSS" target="_blank"><img src="http://blog.mirajavora.com/Media/Default/HtmlWidget/Contents/Item/Display/3/rss32.png" alt="" width="32" height="32"></a>&nbsp;<a href="http://twitter.com/mirajavora" title="Twitter" target="_blank"><img src="http://blog.mirajavora.com/Media/Default/HtmlWidget/Contents/Item/Display/3/twitter32.png" alt="" width="32" height="32"></a>&nbsp;<a href="http://uk.linkedin.com/in/mirajavora" title="LinkedIn"><img src="http://blog.mirajavora.com/Media/Default/HtmlWidget/Contents/Item/Display/3/linkedin32.png" alt="" width="32" height="32"></a>&nbsp;<a href="https://plus.google.com/117835055223871353419?rel=author" title="Google Plus" target="_blank"><img src="http://blog.mirajavora.com/Media/Default/HtmlWidget/Contents/Item/Display/3/googlereader32.png" alt="" width="32" height="32"></a></p>
    </article>
</div>
<div class="span4">
    <article class="widget-ArticlesILiked widget-footer widget-remote-rss-widget widget">
        <header>
            <h3>Articles I Liked Recently</h3>

        </header>

    </article>
</div>