<article class="content-item row-divider blog-post">
    <header>
        <h2><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.categories.size != 0 %}
        <p class="tags">
            <span>Tags:</span>
            {{ post.categories | category_links }}
        </p>
        {% endif %}

        <div class="metadata">
            <div class="published">{% include post/date.html %}{{ time }}</div>
        </div>
    </header>

    <div class="row-fluid">
        {% if post.image %}
            <div class="span8">
                <p>{{ content | excerpt }} <a href="{{ root_url }}{{ post.url }}">more</a></p>
            </div>
            <div class="span4">
                <img src="{{ post.image }}" class="intro-image">
            </div>
        {% else %}
            <div class="span12">
                <p>{{ content | excerpt }} <a href="{{ root_url }}{{ post.url }}">more</a></p>
            </div>
        {% endif %}
    </div>
</article>