<article class="content-item row-divider blog-post">
    <header>
        <h2><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h2>
        {% if category != '0' %}
        <p class="tags">
            <span>Tags:</span>
            {{ post.categories | category_links }}
        </p>
        {% endif %}

        <div class="metadata">
            <div class="published">{% include post/date.html %}{{ time }}</div>
        </div>
    </header>

    <div class="row-fluid">
        <div class="span8">
            <p>{{ content | excerpt }} <a href="{{ root_url }}{{ post.url }}">more</a></p>
        </div>
        <div class="span4">
            <img src="http://blog.mirajavora.com/Media/Default/WindowsLiveWriter/NDCOslo2013TopPics_9361/IMG_1079_thumb.jpg" class="intro-image">
        </div>
    </div>
</article>