<div class="container-fluid">
    <div class="row-fluid">
        <div id="nav" class="span12">
            <div class="zone zone-navigation">
                <nav>
                    <ul class="menu menu-main">
                        <li><a href="{{ root_url }}/">Blog</a></li>
                        <li><a href="{{ root_url }}/archives">Archives</a></li>
                    </ul>
                </nav>
            </div>
        </div> <!-- /nav -->
    </div>
</div>

{% include custom/navigation.html %}
